*{
  margin: 0;
  padding: 0; 
  
}
.logo{
    height: 38px;
}
.navbar{
    background-color: black ; 
}
.nav-link{
    color: rgba(255, 255, 255, 0.818);
    font-size: 17px;
}
.nav-link:hover{
    color: white;
}
.btn-color{
    background-color: #0052cc !important;
    color: white !important;
}
.main-heading{
    font-size: 56px;
    font-weight: 780;
    color: #07090d;
    line-height: 72px;
    letter-spacing: -.02em;     
}
.main-content{
    color: grey;
}
.input{
    width: 350px;
    height: 40px;
    font-size: 15px;
    font-weight: 5;   
}

label{
    font-size: 15px;
    font-weight: 5;
}
.signup{
    font-size: 25px;
   /* margin-top: 4em;  */
   margin-left: 195px;
}
.signup-line{
    font-size: 13px;
    font-weight: 2px;
    color: grey;
}
.otp{
    width: 350px;
    height: 50px;
    background-color: #5d5dfd;
    border: none;
    color: white;
    font-size: 15px;
}
.content2{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #1d2836;
    font-family: Inter,sans-serif;
}
.stats{
    color: #4242f5de;
    font-size: 40px;
    font-weight: 700;
}
.secondary-text{
    font-size: 1.50em;
}
#container4{
    background-image: linear-gradient(241deg,rgba(33,146,245,.25),rgba(239,152,207,0) 36%);
}
.container4-heading{
    background-color: transparent;
    font-family: Inter,sans-serif;
    color: #2c3a4b;
    font-size: 35px;
    font-weight: 700;
}
.content3{
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 600;  

}
.list li::before{
    content: '✓';
}
.card-body-top{
    background-color: #0052cc;  
}
.card-body{
     color: #ccdae7;
     background-color: #101720;   
}
.card-heading{
    font-size: 20px;
    font-weight: 700;
}
.color{
    color: #000;
    background-color: white;
}
.btn-fontsize{
    font-size: 10px;
    background-color: #e2e8ee;
    font-size: .75em;
    font-weight: 600;
    letter-spacing: 0;   
}
.download{
    background-color: #0052cc;
    font-size: 1rem;
    line-height: 1.5;
}
.handbook-label-2 {
    color: #2c3a4b;
    font-size: 18px;
    font-weight: 500;
}
.placement-handbook-field {
    background-color: #e2e8ee;
}
.w-input {
    height: 38px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;   
}
.content5{
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
}
.small-heading{
    font-family: 'Inter Display';
    font-size: .625em;
    font-weight: 600;
    letter-spacing: .2em;
}
.bold-small{
    font-family: Inter,sans-serif;
    color: #fcfcfc;
    font-size: 15px;
}
.large-heading{
    font-size: 2.7em;
}
.designation{
    color: gray;
    font-size: 12px;
}
.title{
    font-family: Inter,sans-serif;
    color: #3f4e61;
    font-size: 35px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: -.025em;
}
.signup{
    margin-top: 125px;
}
.form{
    margin-left: 150px;
}
.small-title{
    font-family: Inter,sans-serif;
    color: #1d2836;
    letter-spacing: .1em;
}
.newspaper{
    width: 80px;  
}
.content5-img{
    height: 75px;
}
.bg-color{
    background-color: #0d1117;
}
.bg-black{
 background-color: #000 !important;
}
